@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap');



body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color: #f8f8f8;
    margin: 0;
}

.login {
    text-align: center;
    background: #273FA1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.logo {
    width: 60px;
}

h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

.terms {
    display: flex;
    font-size: 12px;
    margin: 10px 0;
    text-align: left;
    gap: 5px; 
}

.terms input {
    margin: 2px 0 0 0; 
    width: 10px;
    height: 30px;
}


.login-btn {
    width: 50%;
    padding: 12px;
    background-color: white;
    color: rgb(10, 10, 10);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #1E5BD1;
}

.links {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin: 15px 0;
    gap: 10px;
}

.links span{
    color: white;
}

.links a {
    color: white;
    text-decoration: none;
}

.divider {
    margin: 15px 0;
    font-size: 14px;
    position: relative;
    font-weight: bolder;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #ccc;

}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.google {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    background: #FFC10D;
    display: flex;
    justify-content: center;
}

.google img {
    width: 20px;
    margin-right: 10px;
    border-radius: 20px;
}

.google:hover {
    background: #f5f5f5;
}

.header{
    display: flex;
    justify-content: center;
}

.whatever{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    height: 5vh;
    background-color: #273FA1;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Odor Mean Chey", serif;
}

.line{
    height: 1vh;
    background-color: #FFC10D;
}

.space{
    height: 10vh;
}

.space1{
    height: 5vh;
}

.color{
    background-color:  #273FA1;
    height: 9vh;
}

