<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW JOBS</title>
    <link rel="stylesheet" href="/static/newjob.css">
</head>

<body>
    <nav class="nav flex">
        <div class="logo flex">
            <img src="/static/assets/logo.svg" alt="" srcset="">
            <p>ResumeRadar</p>
        </div>
    </nav>
    <form action="/add/job" method="post">
        <div class="line"></div>
        <div class="cont">
            <div class="title">New Job</div>
            <div class="entry">
                <div class="one">
                    <div class="name">Company Name:</div>
                    <input class="iph1" type="text" name="compname">
                </div>
                <div class="one">
                    <div class="name"> Job role:</div>
                    <input class="iph1" type="text" name="role">
                </div>
                <div class="one">
                    <div class="name">Description:</div>
                    <input class="iph1" type="text" name="description">
                </div>
                <div class="one">
                    <div class="name">Skills:</div>
                    <input class="iph1" type="text" name="skills">
                </div>
                <div class="one">
                    <div class="name">Mode:</div>
                    <input class="iph1" type="text" name="mode">
                </div>
                <div class="one">
                    <div class="name">Last date to apply:</div>
                    <input class="iph1" type="date" name="ldate">
                </div>
            </div>
        </div>
        <div class="btn">
            <button type="button" class="btn1" onclick="window.location.href='/rechome'">Cancel</button>
            <button type="submit" class="btn2" onclick="window.location.href='/rechome'">Save</button>
        </div>
    </form>
    <div class="line"></div>
    <div class="footer"></div>

</body>

</html>