<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/rech.css">
    <title>Home-Recruiter</title>
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img width="30" height="40" src="/static/assets/logo.png" alt="logo" class="logo">
            <a href="/">ResumeRadar</a>
        </div>
        <a href="/logout">Log out</a>
    </div>
    <div class="line"></div>
    <div class="space"></div>
    <div class="container">
        <div class="flex">
        <button class="add" onclick="window.location.href='/add/job'">
            <img src="/static/assets/Add_Plus_Circle.svg" alt="" >Add a new job</button>
        </div>
        <div class="hack">
            <h2>Your previous job listings</h2>
            <div class="yellow-line"></div>
            <div id="jobs-list">
                {% for job in jobs %}
                <a href="/rec/{{ job.id }}" class="job-link">
                    <div class="jobs-card">
                        <h3>{{ job.compname }}</h3>
                        <p>Role: {{ job.role }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    
    
        </div>
    <div class="line"></div>
    <div class="color"></div>
</body>

</html>